.navMenu {
  list-style: none;
}
.link {
  display: inline-block;
  background-color: blue;
  font-weight: bold;
  color: aliceblue;
  text-decoration: none;
  border-radius: 50px;
  padding: 4px 8px;
  margin-top: 8px;
  position: sticky;
  top: 0;
}
