.container {
  padding: 1rem 0;
}

.reviewsTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.reviewsList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 1rem;
}
