.container {
  padding: 20px;
}
.header {
  font-size: 2rem;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input:focus {
  outline: none;
  border-color: #0077cc;
  box-shadow: 0 0 0 2px rgba(0, 119, 204, 0.2);
}

/* .input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 250px;
  max-width: 80vw;
  transition: outline 0.3s ease;
  position: sticky;
  top: 0;
}

.movieItem {
  background-color: cadetblue;
} */

/* My css from SearchBar
.container {
  padding: 1rem;
  background-color: var(--green-main);
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
  border-radius: 6px;
}
.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 250px;
  max-width: 80vw;
  transition: outline 0.3s ease;
}

.input:focus {
  outline: 2px solid var(--green-dark);
  outline-offset: 2px;
}

.btn {
} */
