.container {
}
.moviesList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.movieItem {
  width: 240px;
  border: solid 1px black;
  padding: 4px;
}
.movieTitle {
  text-align: center;
}
.detLink {
  text-align: center;
}
